<head runat="server">
    <title>Meta Tags Example</title>
    <meta http-equiv="Refresh" content="5; url=Index" />
</head>
<div class="text-center m-4">
    <h3>Account successfully created</h3>
    <a href="Index">click here if you are not automatically redirected</a>
</div>
