<head runat="server">
    <title>Meta Tags Example</title>
    <meta http-equiv="Refresh" content="3; url=Home" />
</head>
<div class="text-center m-4">
    <h3>Operation Succsessful</h3>
    <a href="Home">click here if you are not automatically redirected</a>
</div>
