<div class="text-center m-4">
    <h3>Hierarchy Homepage</h3>
    <a class="btn btn-default btn-lg btn-block" asp-action="Login">Login</a>

</div>
<div class="container Register">
    <p>Don't have an account? <a class="btn btn-secondary" asp-action="Register">Register Here</a>
</div>
<div class="container ListUsers">
    <p><a asp-action="ListUsers">Click here to view current users</a>.</p>
</div>
