@model SessionCredentials
<head runat="server">
    <title>Meta Tags Example</title>
    <meta http-equiv="Refresh" content="5; url=Index" />
</head>
<div class="text-center m-4">
    <h3>@SessionCredentials.ScreenName successfully Authenticated</h3>
    <h2>Welcome Back</h2>
    <a href="Index">click here if you are not automatically redirected</a>
</div>