@model IEnumerable<Authentication>

<h3 class="bg-primary p-2 text-white text-center">
    Users
</h3>
<div class="container-fluid">
        <div class="row p-1">
            <div class="col font-weight-bold">User Name</div>
            <div class="col font-weight-bold">Account Status</div>
        </div>
        @foreach (Authentication r in Model)
        {
            <div class="row p-1">
                <div class="col">@r.UserName</div>
                <div class="col">@(r.Admin == true ? "Admin" : "Basic")</div>
            </div>
        }
    </div>
@*<table rules='all' style='border: 2px purple groove'>
    <tr>
        <th>User Name</th>
        <th>Account Status</th>
    </tr>
    <tbody>
        @foreach (Authentication r in Model)
        {
            <tr>
                <td>@r.UserName</td>
                <td>@(r.Admin == true ? "Admin" : "Basic")</td>
            </tr>
        }
    </tbody>
</table>
<p><a asp-action="Index">Click here to return home</a>.</p>*@

