<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <title>Hierarchy</title>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/Darkly Bootstrap/*.min.css" />
</head>
<body >
    @RenderBody()
</body>
</html>