<div class="text-center m-4">
    <h3>Hierarchy Homepage</h3>
    <img src="~/lib/Images/AirLogoColorlessBackground.png" width="200" height="200">
    <br />
    <a class="btn btn-primary btn-lg" asp-action="Login">Login</a>

</div>
<div class="container Register">
    <p>Don't have an account? </p>
    <a class="btn btn-secondary" asp-action="Register">Register Here</a>
    <br />
    <a class="btn btn-info btn-sm" asp-action="ListUsers">Click here to view current users</a>
</div>
