@model Squadron
<head runat="server">
    <title>Meta Tags</title>
    @if (SessionCredentials.Status != true)
    {
        <meta http-equiv="Refresh" content="0; url=Login" />
    }
</head>

<form asp-action="SquadronCreate" method="post" class="m-4">
    <div class="container">
        <h1 class="text-center m-4">Headquarters</h1>
        <p>Please fill out this form to add a new Squadron</p>
        <hr class="form-group">

        <label for="Name"><b>Name</b></label>
        <input type="text" asp-for="Name" class="form-control" required>

        <label for="Location"><b>Location</b></label>
        <input type="text" asp-for="Location" class="form-control">

        <label for="Commander"><b></b>Commander</label>
        <input type="text" asp-for="Commander" class="form-control">

        <label for="Motto"><b>Motto</b></label>
        <input type="text" asp-for="Motto" class="form-control">

        <label for="Mission"><b>Mission</b></label>
        <input type="text" asp-for="Mission" class="form-control">

        <label for="Size"><b>Size</b></label>
        <input type="text" asp-for="Size" class="form-control">




        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
<br />
<div class="container Home">
    <p><a asp-action="Home">Click here to return home</a>.</p>
</div>
